<div id="ignite">

  <br />
  <h2><%= link_to "TurnAround", "http://goturnaround.com/", target: "_blank" %><span>Stanford Ignite</span></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image">
        <%= image_tag("stanford.png", class: "image") %>
      </div>
      <div class="col-sm-5">
        <p><a href="http://www.gsb.stanford.edu/programs/stanford-ignite">Stanford Ignite</a> is a certificate program that teaches innovators to formulate, develop and commercialize their ideas.It is offered by Graduate School of Business in various cities around the world.<br/><br/>As part of this program, our team went through different phases of startup - ideation, design thinking, business model and pitch.<br/><br/>Team TurnAround - <a href="https://www.linkedin.com/pub/sreepriya-koppula/31/a49/839" target="_blank">Sreepriya</a>, <a href="http://in.linkedin.com/pub/akshay-ram/53/139/209" target="_blank">Akshay</a>, <a href="http://in.linkedin.com/pub/kavuluru-adithya/29/68/502" target="_blank">Adithya</a>, <a href="https://www.linkedin.com/in/mohanram1" target="_blank">Mohan</a>, <a href="https://www.linkedin.com/in/rochanpattnayak" target="_blank">Rochan</a> and Rajan</p>
      </div>
    </div>
  </div>

  <br/>
  <br/>

</div>