<div id="ignite">

  <br />
  <h2><%= link_to "TurnAround", "http://goturnaround.com/", target: "_blank" %><span>Stanford Ignite</span></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 div-image">
        <%= image_tag("turnaround.png", class: "image") %>
      </div>
      <div class="col-sm-5">
        <p>Stanford Ignite is a certificate program that teaches innovators to formulate, develop and commercialize their ideas.It is offered by Graduate School of Business in various cities around the world.<br/><br/>As part of this program, our team went through different phases of startup - ideation, design thinking, business model and pitch.<br/><br/>Team TurnAround - Sreepriya, Akshay, Adithya, Mohan and Rajan</p>
      </div>
    </div>
  </div>

</div>