html {
  position: relative;
  min-height: 100%;
}

body {
  position: relative;
  top: 42px;
}

html, body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
}

.heading {
  text-align: center;
}

.active {
  background: #1abc9c!IMPORTANT;
  border: none;
}

.alert-success {
  margin-top: 20px;
  width: 50%;
}