.contact_box {
  padding: 4%;
  font-size: 1.3em;
}

form {
  margin-top: 5%;


  input.string, textarea.text {
    width: 100%;
  }

  input.btn {
    background-color: $primary-color;
    border-color: $primary-color;
    color: white;
    margin-bottom: 2%;
    margin-top: 1%;

    &:hover {
      background-color: darken($primary-color, 5%);
    }
  }
}

.input_grp {
  // padding-left: 0;
  padding: 2%;

  .icon_container {
    // padding-left: 0;
    padding: 1%;

    .glyphicon {
      font-size: 2.5em;
      color: $secondary-color;
    }
  }
}

