section {
  .glyphicon {
    font-size: 5em;
  }

  h2 {

  }
}

.div-image {
  margin-right: 20px;
  padding: 3%;
  border-radius: 100%;
  border: 1px solid silver;
  
  .image {
    width: 100%;
  }
}



