section {
  .glyphicon {
    font-size: 5em;
  }

  h2 {
    span {
      margin-left: 2%;
      font-size: 0.5em;
    }
  }
}

.div-image {
  margin-right: 2%;
  padding: 3%;
  border-radius: 100%;
  border: 1px solid silver;

  .image {
    width: 100%;
  }
}

.div-image-about {
  margin-right: 2%;
  margin-top: 3%;

  .image-about {
    width: 100%;
    border-radius: 100%;
  }
}

.icon {
  margin: 3%;
  font-size: 3.5em;
  color: $silver-color;

  &:hover {
    color: black;
  }
}

#mail-icon {
  font-size: 3em;
}

.gallery {
  width: 150px;
  border-radius: 2%;
  // border: 1px solid $silver-color;
  margin-top: 3px;
}

form {
  margin-top: 2%;


  input.string, textarea.text {
    width: 100%;
  }

  input.btn {
    background-color: $primary-color;
    border-color: $primary-color;
    color: white;
    margin-bottom: 2%;
    margin-top: 1%;

    &:hover {
      background-color: darken($primary-color, 5%);
    }
  }
}

.input_grp {
  // padding-left: 0;
  padding: 2%;

  .icon_container {
    // padding-left: 0;
    padding: 1%;

    .glyphicon {
      font-size: 3em;
      color: $secondary-color;
    }
  }
}

