.footer {
  color: #000;
  // position: fixed;
  // bottom: 0;
  width: 100%;
  height: 42px;
  background-color: $light-white-color;
}

.footer p {
  line-height: 42px;
  margin: 0 0 0 0;
  text-align: center;
  font-size: 1em;
}