$primary-color: #1abc9c;
$dark-primary-color: darken($primary-color, 5%);
$light-primary-color: lighten($primary-color, 5%);
$secondary-color: #e67e22;
$white-color: #FFF;
$light-white-color: #ecf0f1;
$silver-color: #bdc3c7;
$asbestos-color: #7f8c8d;