<!-- Footer -->
<footer class="footer">
  <div class="container">
    <p>
      &copy;Rajan Gupta
      <%#= link_to("About", about_path) %>
      <%#= link_to("Contact", contact_path) %>
    </p>
  </div>
</footer>
<!-- End of Footer -->