<div class="col-sm-4 nav-sidebar">
  <div class="panel panel-default">
    <div class="panel-heading"><%= yield(:title) %></div>
      <div class="list-group">
        <a href="#codeastra" id="btn-codeastra" class="smooth_scroll list-group-item active">Code Astra</a>
        <a href="#ignite" id="btn-ignite" class="smooth_scroll list-group-item">Stanford Ignite</a>
        <a href="#embrace" id="btn-embrace" class="smooth_scroll list-group-item">Embrace Innovations</a>
        <a href="#iitm" id="btn-iitm" class="smooth_scroll list-group-item">IIT Madras</a>
        <a href="#jobless" id="btn-jobless" class="smooth_scroll list-group-item">Joblessness</a>
      </div>
    </div>
  </div>
</div>